<div class="wrapper-transaction">
    <div class="wrapper-transaction-title">
        <h2>Ultimos movimientos</h2>
    </div>
    <div class="wrapper-transaction-filter">
        <div class="filter">Filtrar</div>
    </div>
    <div class="wrapper-transaction-latest">
        <div class="wrapper-transaction-latest-title">
            <h3>Hoy</h3>
        </div>
        <div class="wrapper-transaction-latest-list">
            <div class="wrapper-transaction-latest-item">
                <div class="transaction-image"><img src="assets/images/pay-icon.png" alt="Compra"></div>
                <div class="transaction-title">Retiro en cajero Santander</div>
                <div class="transaction-title">Suc. Samara Shops...</div>
                <div class="transaction-quantity">$2,000.00</div>
            </div>
            <div class="wrapper-transaction-latest-item">
                <div class="transaction-image"><img src="assets/images/pay-icon.png" alt="Compra"></div>
                <div class="transaction-title">Retiro en cajero Santander</div>
                <div class="transaction-title">Suc. Samara Shops...</div>
                <div class="transaction-quantity">$2,000.00</div>
            </div>
        </div>
    </div>
</div>