<div class="wrapper-nav">
    <ul class="wrapper-nav-menu">
        <li>
            <a routerLink="/products/differ">
                <span><img src="assets/images/difer-icon.png" alt="Diferir a meses"></span>
                <span>Diferir a meses</span>
            </a>
        </li>
        <li>
            <span><img src="assets/images/pay-card-icon.png" alt="Diferir a meses"></span>
            <span>Pagar Tarjeta</span></li>
        <li>
            <span><img src="assets/images/account-statements-icon.png" alt="Diferir a meses"></span>
            <span>Estados de Cuenta</span></li>
    </ul>
</div>