.wrapper-error {
    background-color: #fff;
    height: 100vh;
    padding: 0 1.5em;
}
.wrapper-error-info {
    text-align: center;
}
.wrapper-error-info:first-child {
    text-align: left !important;
    padding: 2.2em 0;
}
.wrapper-error-info h3 {
    font-family: 'Santander Headline', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.wrapper-error-info p {
    padding-left: 1.2em;
    padding-right: 1.2em;
    font-family: 'Santander Text', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
}