<div class="wrapper-error">
    <div class="wrapper-error-info">
        <span class="back-btn">
            <a routerLink="/">
                <img src="/assets/images/arrow-back-icon.png" alt="Atras">
            </a>
        </span>
    </div>
    <div class="wrapper-error-info">
        <img src="/assets/images/error-icon.png" alt="Error">
    </div>
    <div class="wrapper-error-info">
        <h3>Lo sentimos</h3>
    </div>
    <div class="wrapper-error-info">
        <p>Por el momento no podemos atender tu solicitud. Por favor, intentalo mas tarde.</p>
    </div>
</div>